{% extends 'base.html' %}
{% load patrowl_tags %}
{% block content %}

<style>
  body{
    background: url(/static/images/bg.jpg)
  }
.strong {
  font-weight: 700;
  color: #ffeb7b;
}

.small {
  font-size: 86%;
}

.col-sm-15, .col-sm-25, .col-sm-35 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 10px;
}
@media (min-width: 768px) {
.col-sm-15 {
    width: 20%;
    float: left;
  }
}

  h4{
    color: #fff;
  }

@media (min-width: 768px) {
.col-sm-25 {
    width: 40%;
    float: left;
  }
.col-sm-35 {
    width: 60%;
    float: left;
  }
}

.tile {
  /* background: whitesmoke; */
  background: url(/static/images/line.png) rgba(255, 255, 255, 0.04);
  height: 100%;
}


.tile-content {
  margin: 0px -5px;
  padding: 15px;
  /*background: whitesmoke;*/
  height: 100%;
  position: relative;
}
.tile-content::before{
    position:absolute;
    top: 0;
    left: 5px;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}
.tile-content::after{
    position:absolute;
    top: 0;
    right: 5px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}

.box-footer{
  position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

}

  .box-footer::before{
    position:absolute;
    bottom: 0;
    left: 10px;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
    }
  .box-footer::after{
      position:absolute;
      bottom: 0;
      right: 5px;
      width: 10px;
      height: 10px;
      border-right: 2px solid #02a6b5;
      border-bottom: 2px solid #02a6b5;
      content: "";
  }

.tile-header.with-border {
  border-bottom: 1px solid #ecebeb;
}

.table-tile {
  margin-bottom: 0px;
  font-size: small;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

h2, .h2 {
    font-size: 40px;
}

span.badge-risk-grade-A { background-color: limegreen; }
span.badge-risk-grade-B { background-color: yellowgreen; }
span.badge-risk-grade-C { background-color: orange; }
span.badge-risk-grade-D { background-color: darkorange; }
span.badge-risk-grade-E { background-color: orangered; }
span.badge-risk-grade-F { background-color: red; }
span.badge-risk-grade-- { background-color: lightgray; }

td.bg-grade---low, td.bg-grade---medium, td.bg-grade---high {background-color: lightgray;}
td.bg-grade-A-low, td.bg-grade-A-medium, td.bg-grade-A-high, td.bg-grade-B-low {background-color: yellowgreen;}
td.bg-grade-B-medium, td.bg-grade-B-high, td.bg-grade-C-low, td.bg-grade-C-medium, td.bg-grade-D-low {background-color: yellow; }
td.bg-grade-E-low, td.bg-grade-D-medium, td.bg-grade-C-high {background-color: orange; }
td.bg-grade-F-low, td.bg-grade-E-medium, td.bg-grade-D-high {background-color: red; color: white;}
td.bg-grade-F-medium, td.bg-grade-E-high {background-color: darkred; color: white;}
td.bg-grade-F-high {background-color: black; color: white;}
.header{
  background: url(/static/images/head_bg.png) no-repeat;
  height: 100px;
  background-size: 100% 100%;
}
td,th{
  color: rgba(255, 255, 255, 0.7);
}
small{
   color: rgba(255, 255, 255, 0.7);
}
  dt{
    color: rgba(255, 255, 255, 0.7);
  }
  
  .table-hover>tbody>tr:hover {
    background-color: rgba(47, 72, 156, 1);
}
</style>

<ul class="breadcrumb header" style="margin-bottom: 0px;">
  <li style="display: block;text-align: center;"><a
          href="{% url 'homepage_dashboard_view' %}"
          style="font-size: 38px;text-decoration: none;">全局仪表盘</a></li>
  {% if PRO_EDITION %}
  <li class="active" style="display:none;">
    Team:
    <select id="team_select" class="form-control form-control-xs" style="width:auto; display:inline-block; padding:0;">
      <option value="-1" selected>All</option>
      {% for team in teams %}
      <option value="{{team.id}}">{{team.name|title}} </option>
      {% endfor %}
    </select>
  </li>
  {% endif %}
</ul>

<div class="container-fluid">
  <!-- 1st row -->
  <div class="row equal">
    <div class="col-sm-15">
    <div class="tile " ondblclick="window.location='{% url 'list_assets_view' %}'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.assets.total}}</h2>
        <h6 class="text-muted text-center">资产定义</h6>
        <small>
          {% for type in global_stats.asset_types %}
          <span class="badge badge-secondary small">{{type}}: {{ global_stats.asset_types|keyvalue:type}}</span>
          {% endfor %}
        </small>
      </div>
      <div class="box-footer"></div>
      </div>

    </div>

    <div class="col-sm-15">
    <div class="tile" ondblclick="window.location='/findings/list'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.findings.new}}</h2>
        <h6 class="text-muted text-center">新发现</h6>
        <small>独特的发现: {{global_stats.findings.total}}</small><br/>
        <!-- <small>All findings: {{global_stats.findings.total_raw}}</small><br/> -->
      </div>
       <div class="box-footer"></div>
    </div>

   </div>

<div class="col-sm-15">
    <div class="tile " ondblclick="window.location='/scans/list'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.scans.running}}</h2>
        <h6 class="text-muted text-center">运行扫描</h6>
        <small>活动周期: {{global_stats.scans.active_periodic}}</small><br/>
        <small>排队: {{global_stats.scans.running}}</small><br/>
        <small>执行: {{global_stats.scans.performed}}</small><br/>
        <small>定义: {{global_stats.scans.defined}}</small>
      </div>
       <div class="box-footer"></div>
    </div>
</div>
    <!-- <div class="tile col-sm-15" ondblclick="window.location='/rules/list'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.rules.active}}</h2>
        <h6 class="text-muted text-center">Active rules</h6>
        <small>Defined: {{global_stats.rules.total}}</small><br/>
        <small>Notified: {{global_stats.rules.nb_matches}}</small><br/>
      </div>
    </div> -->
    <div class="col-sm-15">
    <div class="tile " ondblclick="window.location='/events/alerts/list'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.alerts.total_new}}</h2>
        <h6 class="text-muted text-center">新警报</h6>
        <span class="badge badge-secondary small">信息: {{ global_stats.alerts.new_info}}</span>
        <span class="badge badge-secondary small">低: {{ global_stats.alerts.new_low}}</span>
        <span class="badge badge-secondary small">中等: {{ global_stats.alerts.new_medium}}</span>
        <span class="badge badge-secondary small">高: {{ global_stats.alerts.new_high}}</span>
        <span class="badge badge-secondary small">关键: {{ global_stats.alerts.new_critical}}</span>
      </div>
       <div class="box-footer"></div>
    </div>
    </div>
      <div class="col-sm-15">
    <div class="tile" ondblclick="window.location='/engines/list'">
      <div class="tile-content">
        <h2 class="text-center strong">{{global_stats.engines.active}}</h2>
        <h6 class="text-muted text-center">活动引擎</h6>
        <small>引擎总数: {{global_stats.engines.total}}</small><br/>
        <small>策略总数: {{global_stats.engines.policies}}</small><br/>
      </div>
       <div class="box-footer"></div>
    </div>
  </div>
  </div>
  <!-- End 1st row -->
  <!-- 2nd row -->
  <div class="row equal">
    <div class="col-sm-15">
        <div class="tile ">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>资产等级</h4>
        </div>
        <div class="tile-body">
          <table style="text-align: center; font-size: small;">
            <tr>
              <th rowspan="2" style="text-align: center;">等级</th>
              <th colspan="3" style="text-align: center;">危急程度</th>
            </tr>
            <tr>
              <th style="text-align: center; font-weight: lighter;">低的</th>
              <th style="text-align: center; font-weight: lighter;">中等的</th>
              <th style="text-align: center; font-weight: lighter;">高的</th>
            </tr>
            {% for grades in asset_grades_map %}
             {% for grade, value in grades.items %}
           <tr>
             <td>{{ grade }}</td>
             <td style="width: 20%; cursor: pointer;" class="bg-grade-{{grade}}-low" onclick="window.location='{% url 'list_assets_view' %}?filter=criticity:low%20score:{{grade}}'">{{ grades|keyvalue:grade|keyvalue:"low" }}</td>
             <td style="width: 20%; cursor: pointer;" class="bg-grade-{{grade}}-medium" onclick="window.location='{% url 'list_assets_view' %}?filter=criticity:medium%20score:{{grade}}'">{{ grades|keyvalue:grade|keyvalue:"medium" }}</td>
             <td style="width: 20%; cursor: pointer;" class="bg-grade-{{grade}}-high" onclick="window.location='{% url 'list_assets_view' %}?filter=criticity:high%20score:{{grade}}'">{{ grades|keyvalue:grade|keyvalue:"high" }}</td>
           </tr>
             {% endfor %}
           {% endfor %}
          </table>
        </div>
      </div>
            <div class="box-footer"></div>
    </div>
    </div>

    <div class="col-sm-15">
      <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>最关键的资产</h4>
        </div>
        <div class="tile-body">
          <table class="table table-hover table-tile">
            <thead>
              <tr>
                <th>等级</th>
                <th>价值</th>
                <th>分数</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in top_critical_assets %}
              <tr class='dblclickable-row' data-href='/assets/details/{{asset.id}}'>
                <td><span class="badge badge-risk-grade-{{asset.risk_level|keyvalue:'grade'}}">{{asset.risk_level|keyvalue:"grade"}}</span></td>
                <td>{{asset.value|truncatechars:25}}</td>
                <td>{{asset|risk_score}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
        <div class="box-footer"></div>

    </div>
    </div>
    <div class="col-sm-15">
    <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>扫描结果扇形图</h4>
        </div>
        <div class="tile-body">
          <div id="findings-by-criticities">
            <canvas id="chart-findings-by-criticities" width="200" height="200"/>
          </div>
        </div>
      </div>
    </div>
      <div class="box-footer"></div>
      </div>

<div class="col-sm-25">
    <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>最重要的发现</h4>
        </div>
        <div class="tile-body">
          <table class="table table-hover table-tile">
            <thead>
              <tr>
                <th>严重性</th>
                <th>标题</th>
                <th>资产</th>
              </tr>
            </thead>
            <tbody>
              {% for finding in top_critical_findings %}
              <tr class='dblclickable-row' data-href='/findings/details/{{finding.id}}'>
                {% if finding.severity == 'critical' %}
                <td><span class="label label-critical">严重的</span></td>
                {% elif finding.severity == 'high' %}
                <td><span class="label label-high">高风险的</span></td>
                {% elif finding.severity == 'medium' or finding.severity == 'moderate' %}
                <td><span class="label label-medium">中等的</span></td>
                {% elif finding.severity == 'low' %}
                <td><span class="label label-low">低风险的</span></td>
                {% else %}
                <td><span class="label label-info">提示信息</span></td>
                {% endif %}
                <td>{{finding.title|truncatechars:40}}</td>
                <td>{{finding.asset_name|truncatechars:30}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
        <div class="box-footer"></div>
    </div>
</div>



  </div>
  <!-- End 2nd row -->
  <!-- 3rd row -->
  <div class="row equal">
    <div class="col-sm-15">
        <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>资产组等级</h4>
        </div>
        <div class="tile-body">
          <table style="text-align: center; font-size: small;">
            <tr>
              <th rowspan="2" style="text-align: center;">等级</th>
              <th colspan="3" style="text-align: center;">危急程度</th>
            </tr>
            <tr>
              <th style="text-align: center; font-weight: lighter;">低的</th>
              <th style="text-align: center; font-weight: lighter;">中等的</th>
              <th style="text-align: center; font-weight: lighter;">高的</th>
            </tr>
            {% for grades in assetgroup_grades_map %}
             {% for grade, value in grades.items %}
           <tr>
             <td>{{ grade }}</td>
             <td style="width: 20%;" class="bg-grade-{{grade}}-low">{{ grades|keyvalue:grade|keyvalue:"low" }}</td>
             <td style="width: 20%;" class="bg-grade-{{grade}}-medium">{{ grades|keyvalue:grade|keyvalue:"medium" }}</td>
             <td style="width: 20%;" class="bg-grade-{{grade}}-high">{{ grades|keyvalue:grade|keyvalue:"high" }}</td>
           </tr>
             {% endfor %}
           {% endfor %}
          </table>
        </div>
      </div>
          <div class="box-footer"></div>
    </div>
    </div>
     <div class="col-sm-15">
        <div class="tile">
          <div class="tile-content">
            <div class="tile-header with-border">
              <h4>最关键的资产组</h4>
            </div>
            <div class="tile-body">
              <table class="table table-hover table-tile">
                <thead>
                  <tr>
                    <th>等级</th>
                    <th>名称</th>
                    <th>分数</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assetgroup in top_critical_assetgroups %}
                  <tr class='dblclickable-row' data-href='/assets/groups/details/{{assetgroup.id}}'>
                    <td><span class="badge badge-risk-grade-{{assetgroup.risk_level|keyvalue:'grade'}}">{{assetgroup.risk_level|keyvalue:"grade"}}</span></td>
                    <td>{{assetgroup.name}}</td>
                    <td>{{assetgroup|risk_score}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
            <div class="box-footer"></div>
        </div>
     </div>
    <div class="col-sm-35">
    <div class="tile ">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>上次扫描</h4>
        </div>
        <div class="tile-body">
          <table class="table table-hover table-tile">
            <thead>
              <tr>
                <th class="col-sm-4">标题</th>
                <th class="col-sm-2">发现</th>
                <th class="col-sm-1">状态</th>
                <th class="col-sm-2">日期</th>
              </tr>
            </thead>
            <tbody>
              {% for scan in last_scans %}
              <tr class='dblclickable-row' data-href='/scans/details/{{scan.id}}'>
                <td>{{scan.title|truncatechars:64}}</td>
                <td class="scan-progress" style="vertical-align: middle;">
                  <div class="progress" style="margin-bottom: 0;">
                    {% if scan.status == "finished" %}
                    {% with total=scan.summary|keyvalue:'total' %}
                    <div class="progress-bar progress-bar progress-bar-critical" role="progressbar" style="width:{{ scan.summary|keyvalue:'critical' | perc:total }}%">
                      {{scan.summary|keyvalue:"critical"}}
                    </div>
                    <div class="progress-bar progress-bar progress-bar-high" role="progressbar" style="width:{{ scan.summary|keyvalue:'high' | perc:total }}%">
                      {{scan.summary|keyvalue:"high"}}
                    </div>
                    <div class="progress-bar progress-bar progress-bar-medium" role="progressbar" style="width:{{ scan.summary|keyvalue:'medium' | perc:total }}%">
                      {{scan.summary|keyvalue:"medium"}}
                    </div>
                    <div class="progress-bar progress-bar progress-bar-low" role="progressbar" style="width:{{ scan.summary|keyvalue:'low' | perc:total }}%">
                      {{scan.summary|keyvalue:"low"}}
                    </div>
                    <div class="progress-bar progress-bar progress-bar-info" role="progressbar" style="width:{{ scan.summary|keyvalue:'info' | perc:total }}%">
                      {{scan.summary|keyvalue:"info"}}
                    </div>
                    {% endwith %}
                    {% else %}
                    <div class="progress-bar progress-bar active" role="progressbar">
                      -
                    </div>
                    {% endif %}

                  </div>
                </td>
                <td class="text-center">
                  {% if scan.status == "finished" %}
                  <span class="label label-success">结束</span>
                  {% elif scan.status == "started" %}
                  <span class="label label-warning">开始</span>
                  {% elif scan.status == "error" %}
                  <span class="label label-danger">错误</span>
                  {% else %}
                  <span class="label label-primary">{{scan.status|capfirst}}</span>
                  {% endif %}
                </td>
                <td>{{scan.started_at|date:"Y-m-d H:i:s"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer"></div>
    </div>
      </div>
  </div>
  <!-- End 3rd row -->
  <div class="row equal">

    <div class="col-sm-15">
    <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>最高 CVSS 分数/调查结果</h4>
        </div>
        <div class="tile-body">
          <dl class="dl-horizontal">
            <dt>#CVSS = 10: </dt><dd>{{cvss_scores.eq10}}</dd>
            <dt>9.0 <= #CVSS < 10</dt><dd>{{cvss_scores.gte9}}</dd>
            <dt>7.0 <= #CVSS < 9.0: </dt><dd>{{cvss_scores.gte7}}</dd>
            <dt>5.0 <= #CVSS < 7.0 : </dt><dd>{{cvss_scores.5to7}}</dd>
            <dt>#CVSS < 5.0: </dt><dd>{{cvss_scores.lte5}}</dd>
          </dl>
        </div>
      </div>
         <div class="box-footer"></div>
    </div>
      </div>
    <div class="col-sm-15">
      <div class="tile">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>顶级 CVE</h4>
        </div>
        <div class="tile-body">
          {% for cve in cxe_stats.top_cve %}
            <a href='/findings/list?_reference={{cve.0}}&_reference_cond=CVE'><span class="badge badge-secondary small">{{cve.0}}: #{{cve.1}}</span></a>
          {% endfor %}
        </div>
      </div>
        <div class="box-footer"></div>
    </div>
    </div>
    <div class="col-sm-25">
    <div class="tile ">
      <div class="tile-content">
        <div class="tile-header with-border">
          <h4>顶级CWE</h4>
        </div>
        <div class="tile-body">
          {% for cwe in cxe_stats.top_cwe %}
            <a href='/findings/list?_reference={{cwe.0}}&_reference_cond=CWE'><span class="badge badge-secondary small">{{cwe.0}}: #{{cwe.1}}</span></a>
            <!-- <a href='https://cwe.mitre.org/data/definitions/{{cwe.0}}.html'><span class="badge badge-secondary small">{{cwe.0}}: #{{cwe.1}}</span></a> -->
          {% endfor %}
        </div>
      </div>
      <div class="box-footer"></div>
    </div>
      </div>
  </div>
  <!-- End 4th row -->

</div> <!-- End container-fluid -->

<script>

  var chart_findings_by_criticities;

  cfbc_config = {
      type: 'pie',
      data: {
          datasets: [{
              backgroundColor: [
                  "#cc0500",
                  "#df3d03",
                  "#f9a009",
                  "#ffcb0d",
                  "#3498db"
              ],
          }],
          labels: ["严重的", "高风险的", "中等的", "低风险的", "提示信息"]
      },
      options: {
        responsive: false,
        // responsive: true,
        maintainAspectRatio: false,
        // maintainAspectRatio: true,
        legend: {
          display: true
        }
      }
    };

    cfbc_config["data"]["datasets"][0]["data"] = new Array(
      {{global_stats.findings.critical}},
      {{global_stats.findings.high}},
      {{global_stats.findings.medium}},
      {{global_stats.findings.low}},
      {{global_stats.findings.info}}
    );

    var ctx_findings = document.getElementById("chart-findings-by-criticities").getContext("2d");
    window.cfbc_pie_chart = new Chart(ctx_findings, cfbc_config);

    // Hide 'info' findings
    window.cfbc_pie_chart.getDatasetMeta(0).data[4].hidden = true;
    window.cfbc_pie_chart.update();

    // jQuery
    url = new URL(window.location.href);
    $('#team_select').val(url.searchParams.get("team", "-1"))

    // Reload on team selection change
    $('#team_select').on('change', function() {
      url.searchParams.set("team", this.value);
      window.location = url.search;
    });

</script>

{% endblock %}
