{% extends 'base.html' %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'list_assets_view' %}">资产</a></li>
  <li class="active">批量添加新资产 [<a href="{% url 'list_assets_view' %}">返回</a>]</li>
</ul>

<div class="container">
  <form action="{% url 'bulkadd_asset_view' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <legend>批量添加新资产 [<a href="/static/tmpl/assets_bulk_import_template.csv">模板</a>]</legend>
      {% csrf_token %}
      {% for field in form %}
          {% if field.errors %}
              <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      <span class="help-block">
                          {% for error in  field.errors %}{{ error }}{% endfor %}
                      </span>
                  </div>
              </div>
          {% elif not field.is_hidden %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      {% if field.help_text %}
                          <p class="help-block"><small>{{ field.help_text }}</small></p>
                      {% endif %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">提交</button>
        <button class="btn btn-primary"><a href="{% url 'list_assets_view' %}">取消</a></button>
      </div>
  </form>
</div>

{% endblock %}
