{% load staticfiles %}
{% load patrowl_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>扫描工具管理平台</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <!-- Patrowl CSS - Include with every page -->
  <link href="{% static 'css/patrowlmanager.css' %}" rel="stylesheet">

  <!-- Core CSS - Include with every page -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/cal-heatmap.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'css/selectize.bootstrap4.css' %}" rel="stylesheet">


  <!-- Core Scripts - Include with every page -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/tether.min.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/cal-heatmap.min.js' %}"></script>
  <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'js/selectize.js' %}"></script>

  <!-- DataTables -->
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <!-- <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>
  <link href="{% static 'css/select.dataTables.min.css' %}" rel="stylesheet">

  <!-- DateTime picker -->
  <link href="/static/css/datetimepicker.css" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
{# bootstrap-datetimepicker.zh-CN.js #}
 <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>

  <!-- Typeahead jQuery plugin -->
  <script src="{% static 'js/typeahead/typeahead.bundle.min.js' %}"></script>

  <!-- Font Awesome -->
  <script src="{% static 'js/fontawesome-all.min.js' %}"></script>

  <!-- Tagsinput -->
  <script src="{% static 'js/bootstrap-tagsinput.min.js' %}"></script>
  <link href="{% static 'css/bootstrap-tagsinput.css' %}" rel="stylesheet">

  <!-- Admin -->
  <!-- <script type="text/javascript" src="/admin/jsi18n/"></script> -->
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  {% if request.user.is_superuser %}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  {% endif %}

  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
  <!-- <script type="text/javascript" src="/static/admin/js/calendar.js"></script> -->
  <!-- <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script> -->

  <script>
    function goBack() {
        window.history.back();
    }

    $(function(){
      $(".clickable-row").click(function() {
        var sel = getSelection().toString();
        if(!sel){
            window.location = $(this).data("href");
        }
      });
      $(".dblclickable-row").dblclick(function() {
        window.location = $(this).data("href");
      });

      // Refresh engines status only if the user is authenticated
      {% if user.is_authenticated %}
      refresh_engines_status();
      if({{ PATROWL_REFRESH_ENGINE }}>0){
        setInterval(function() {refresh_engines_status();},({{ PATROWL_REFRESH_ENGINE }}>5000)?{{ PATROWL_REFRESH_ENGINE }}:5000);
      }
      {% endif %}

      // On-demand refresh
      $("#engines_status_label").click(function(){
        refresh_engines_status();
      });


      $("#engines_status_label").dblclick(function(){
        window.location = "/engines/list"
      });

    });

  </script>

  {% if user.is_authenticated %}
  <script>
    function refresh_engines_status(){
      $('span.engine-status').empty();
      $('span.running-scans').empty();
      $('span.enqueued-scans').empty();
      var xhr = $.get("{% url 'list_engines_intances_api' %}", function(response) {
        engines_json = response.engines;
        for (var engine_id in engines_json) {
          engine = engines_json[engine_id];
          enabled = ""
          if (engine["enabled"] == true) {enabled = "Enabled";} else {enabled="Disabled"}
          title = engine["name"] + " ("+enabled+"/"+engine["status"]+")";
          status_color = "default";
          if (engine["enabled"] && engine["status"] == "READY" || engine["status"] == "WORKING") {
            status_color = "success";
          } else if (engine["enabled"] && engine["status"] != "READY" && engine["status"] != "WORKING") {
            status_color = "danger";
          }
          $('span.engine-status').append('<i class="glyphicon glyphicon-record text-'+status_color+'" title="'+title+'" id="engine_'+engine["id"]+'" data-toggle="tooltip" data-placement="left" data-delay="500"></i>')
          $('#engine_'+engine["id"]).tooltip();
        }

        running_scans = response.running_scans;
        if (running_scans == 1) {$('span.running-scans').append('&nbsp;-&nbsp;1 scan running <i class="glyphicon glyphicon-cog gly-spin"></i>');}
        if (running_scans > 1) {$('span.running-scans').append('&nbsp;-&nbsp;' + running_scans+' scans running <i class="glyphicon glyphicon-cog gly-spin"></i>');}

        enqueued_scans = response.enqueued_scans;
        if (enqueued_scans == 1) {$('span.enqueued-scans').append('&nbsp;-&nbsp;1 scan enqueued <i class="glyphicon glyphicon-cog gly-spin"></i>');}
        if (enqueued_scans > 1) {$('span.enqueued-scans').append('&nbsp;-&nbsp;' + enqueued_scans+' scans enqueued <i class="glyphicon glyphicon-cog gly-spin"></i>');}
      });
    }



  </script>
  {% endif %}


  <style>
    body { padding-top: 60px; }

    .table>tbody>tr>td, .table>thead>tr>th { padding: 3px; }

    .gly-spin {
      -webkit-animation: spin 2s infinite linear;
      -moz-animation: spin 2s infinite linear;
      -o-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }

    .form-control-sm {
      padding: 6px 9px;
      line-height: 1.5;
      border-radius: 3px;
      height: 35px;
    }

    .form-control-xs {
      padding: 6px 9px;
      line-height: 1.5;
      border-radius: 3px;
      height: 25px;
    }

    body, html{height:100%;}

    #main{
      /* max-width:1280px; */
      min-height:100%;
      margin:0 auto;
      position:relative;
      padding-bottom: 30px;
    }

    .footer {
      height: 30px;
      line-height: 30px;
      background-color: #f5f5f5;
      margin-top: 20px;
      font-size: 12px;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    .badge-secondary {
      color: #fff;
      background-color: #95a5a6;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: darkorange;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
      color: darkorange;
    }

    .label-critical { background-color: #cc0500; }
    .label-high { background-color: #df3d03; }
    .label-medium { background-color: #f9a009; }
    .label-low { background-color: #ffcb0d; }
    .label-info { background-color: #3498db; }

    .progress-bar-critical { background-color: #cc0500; }
    .progress-bar-high { background-color: #df3d03; }
    .progress-bar-medium { background-color: #f9a009; }
    .progress-bar-low { background-color: #ffcb0d; }
    .progress-bar-info { background-color: #3498db; }

    .form-control-xs-feedback {
      position: absolute;
      top: -3px;
      right: 0;
      display: block;
      width: 25px;
      height: 45px;
      line-height: 33px;
      text-align: center;
      pointer-events: none;
    }

    .form-control-sm-feedback {
      position: absolute;
      top: 1px;
      right: 3px;
      display: block;
      width: 25px;
      height: 45px;
      line-height: 33px;
      text-align: center;
      /* pointer-events: none; */
    }

    span.tag.label-info {
      background-color: #3498db;
    }

    .pagination>li>a, .pagination>li>span {
      padding: 2px 7px;
      font-size: 12px;
    }

  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgba(9, 20, 60, 1);">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-all">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">扫描工具管理平台</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-all">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          <!-- Assets Management -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-cloud"></span> 资产<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'list_assets_view' %}">资产</a></li>
              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" or request.user|has_role:"ANALYST" %}
                <li><a href="{% url 'add_asset_view' %}">+ 添加新资产</a></li>
                <li><a href="{% url 'bulkadd_asset_view' %}">+ 批量添加新资产（CSV文件）</a></li>
                {% endif %}
              {% else %}
              <li><a href="{% url 'add_asset_view' %}">+ 添加新资产</a></li>
              <li><a href="{% url 'bulkadd_asset_view' %}">+ 批量添加新资产（CSV文件）</a></li>
              {% endif %}

              <li role="separator" class="divider"></li>
              <li><a href="{% url 'list_assets_view' %}?target=asset_group">资产组</a></li>

              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" or request.user|has_role:"ANALYST" %}
                  <li><a href="{% url 'add_asset_group_view' %}">+ 添加新资产组</a></li>
                {% endif %}
              {% else %}
                <li><a href="{% url 'add_asset_group_view' %}">+ 添加新资产组</a></li>
              {% endif %}
              <li role="separator" class="divider"></li>
              <li><a href="/assets/owners/list">资产所有者</a></li>

              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" or request.user|has_role:"ANALYST" %}
                  <li><a href="/assets/owners/add">+ 添加新资产所有者</a></li>
                {% endif %}
              {% else %}
                <li><a href="/assets/owners/add">+ 添加新资产所有者</a></li>
              {% endif %}
              <!-- <li role="separator" class="divider"></li>
              <li><a href="/admin/assets/assetcategory/">List categories (Admin only)</a></li>
              <li><a href="/admin/assets/assetcategory/add/">+ Add new category (Admin only)</a></li> -->
            </ul>
          </li>

          <!-- Findings Management -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-map-marker"></span> 扫描结果<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/findings/list">所有扫描结果</a></li>
              <li><a href="/findings/list?_status=new">新扫描结果</a></li>
              <li><a href="/findings/list?_status=ack">确认扫描结果</a></li>
              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" or request.user|has_role:"ANALYST" %}
                <li role="separator" class="divider"></li>
                <li><a href="/findings/import">手工导入</a></li>
                <li><a href="/findings/add">+ 添加查找</a></li>
                {% endif %}
              {% else %}
              <li role="separator" class="divider"></li>
              <li><a href="/findings/import">手工导入</a></li>
              <li><a href="/findings/add">+ 添加查找</a></li>
              {% endif %}

            </ul>
          </li>

          <!-- Scans Management -->
          {% if request.user.is_superuser %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-search"></span> 扫描<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/scans/list">执行的扫描</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/scans/defs/list">扫描任务</a></li>
              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" or request.user|has_role:"ANALYST" %}
                <li><a href="/scans/defs/add">+ 添加新扫描</a></li>
                {% endif %}
              {% else %}
              <li><a href="/scans/defs/add">+ 添加新扫描</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
          <!-- Engines Management -->
          {% if request.user.is_superuser %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-screenshot"></span> 引擎<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="/engines/list">扫描引擎</a>
                {% if PRO_EDITION %}
                  {% if request.user.is_superuser or request.user|has_role:"MANAGER" %}
                  <li><a href="/engines/add">+ 添加扫描引擎实例</a></li>
                  {% endif %}

                {% else %}
                <li><a href="/engines/add">+ 添加扫描引擎实例</a></li>
                {% endif %}

              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu">
                <a href="/engines/policies/list">扫描引擎策略</a>
                {% if PRO_EDITION %}
                  {% if request.user.is_superuser or request.user|has_role:"MANAGER" %}
                  <li><a href="/engines/policies/add">+ 添加策略</a></li>
                  <li><a href="/engines/policies/import">* 导入策略</a></li>
                  {% endif %}

                {% else %}
                <li><a href="/engines/policies/add">+ 添加策略</a></li>
                <li><a href="/engines/policies/import">* 导入策略</a></li>
                {% endif %}

              </li>

              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" %}
                <li role="separator" class="divider"></li>
                <li class="dropdown-submenu">
                  <a href="/engines/types/list"><strong>扫描引擎类型</strong></a>
                  <li><a href="/engines/types/add">+ 添加引擎类型</a></li>
                </li>
                {% endif %}

              {% else %}
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu">
              <a href="/engines/types/list"><strong>扫描引擎类型</strong></a>
              <li><a href="/engines/types/add">+ 添加引擎类型</a></li>
              </li>
              {% endif %}

            </ul>
          </li>
{% endif %}
          <!-- Alerts -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-bell"></span> 警报<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/events/alerts/list">列出警报</a></li>
            </ul>
          </li>

          <!-- Settings -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
              <span class="glyphicon glyphicon-flash"></span> 规则<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/rules/list">列出规则</a></li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" accept-charset="utf-8" action="/search" style="padding-top: 4px;">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="搜索" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default btn-search btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      <!-- </div> -->

      <!-- User Account Management -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <!-- <div > -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span> {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/dashboard"><span class="glyphicon glyphicon-home"></span>数据面板</a></li>
              {% if PRO_EDITION %}
                {% if request.user.is_superuser or request.user|has_role:"MANAGER" %}
                <!--<li><a href="/settings/"><span class="glyphicon glyphicon-wrench"></span> 设置</a></li>-->
                {% else %}
                <!-- <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings (Admin or Manager only)</a></li> -->
                <!-- <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings (SuperAdmin only)</a></li> -->
                {% endif %}
              {% else %}
              <!--<li><a href="/settings/"><span class="glyphicon glyphicon-wrench"></span> 设置</a></li>-->
              {% endif %}
<!--              <li><a href="/settings/support"><span class="glyphicon glyphicon-education text-warning"></span> Support</a></li>-->
                
                {% if request.user.is_superuser %}
               <li><a href="/settings/"><span class="glyphicon glyphicon-wrench"></span> 设置</a></li>
              {% endif %}
       
              <!--<li class="divider"></li>-->
              {% if PRO_EDITION %}
              <li><a href="/admin/password_change/"><span class="glyphicon glyphicon-lock"></span>修改登录密码</a></li>
                <!-- <li><a href="/users/pro/list"><span class="glyphicon glyphicon-th-list"></span> Users</a></li> -->
                {% if request.user.is_superuser or request.user|is_team_admin == True %}
                <!--<li><a href="/users/pro/list"><span class="glyphicon glyphicon-th-list"></span> Users</a></li>-->
                {% else %}
                <!--<li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Users (Admin only)</a></li>-->
                {% endif %}
              {% else %}
              <!--<li><a href="/users/pro/list"><span class="glyphicon glyphicon-th-list"></span> Users</a></li>-->
<!--              <li><a href="https://patrowl.io/get-started"><span class="glyphicon glyphicon-th-list"></span> Users (PRO EDITION)</a></li>-->
              {% endif %}
              {% if PRO_EDITION %}
              <!--<li><a href="/teams/list"><span class="glyphicon glyphicon-th-large"></span>Teams</a></li>-->
              {% else %}
               <!--<li><a href="/teams/list"><span class="glyphicon glyphicon-th-large"></span>Teams</a></li>-->
<!--              <li><a href="https://patrowl.io/get-started"><span class="glyphicon glyphicon-th-large"></span> Teams (PRO EDITION)</a></li>-->
              {% endif %}

              <li class="divider"></li>
              <li><a href="/users/details"><span class="glyphicon glyphicon-user">我的信息</span></a></li>
              {% if PRO_EDITION %}
                {% if request.user.profile.is_delegated == False %}
                     {% if request.user.is_superuser %}
                    <li><a href="/admin/password_change/"><span class="glyphicon glyphicon-lock"></span>修改登录密码</a></li>
                    {% endif %}
                {% endif %}
              {% else %}
                        {% if request.user.is_superuser %}
                    <li><a href="/admin/password_change/"><span class="glyphicon glyphicon-lock"></span>修改登录密码</a></li>
                    {% endif %}
              {% endif %}
              {% if PRO_EDITION %}
                {% if request.user.is_superuser %}
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                {% elif request.user.profile.is_delegated == True %}
                <!-- <li><a href="/oauth2/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> -->
                <li><a href="#" class="btn-logout-sso"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                {% else %}
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                {% endif %}
              {% else %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>

  <div id="main">
    {% block content %} {% endblock %}
  </div>

  <div id="footer-div" style="position: sticky;">
    <footer class="footer">
      <div class="container-fluid">
        <div class="col-sm-6">
          <span class="text-muted">扫描工具管理平台 2018-2021 - version: {{ PATROWL_VERSION }}</span>
       
        </div>
        {% if user.is_authenticated %}
        <div class="col-sm-6">
          <span class="text-muted pull-right running-scans"></span>
          <span class="text-muted pull-right enqueued-scans"></span>
          <span class="text-muted pull-right engine-status"></span>
          <text class="text-muted pull-right" id='engines_status_label'>Engines status: &nbsp;</text>
        </div>
        {% endif %}
      </div>
    </footer>
  </div>

  <script>
    // jQuery functions
    $(function(){
      // Compare findings
      $("a.btn-logout-sso").on('click', function (e) {
        $.ajax({
          url: "/oauth2/logout",
          method: "GET",
          success: function(data){
            window.location.href = "/login";
          },
          error: function(data){
            window.location.href = "/login";
          }
        });


      });
    });

  </script>

  {% block javascript %} {% endblock %}
</body>
</html>
